{% extends "base.html" %}

{% block title %} update Post {% endblock %}
{% block container %}

<div class="container">
  <button class="btn btn-info"><a style="color:white;" href="/manage_data2">Manage the data</a></button>
  <hr/>
  <h2>Simple form</h2>
  <form action="/update_post2/" method="post">

    {% csrf_token %}
    {% for data in single_data %}
        <input type="hidden" name="id" value="{{data.id}}">
        <div class="form-group">
            <label for="Integer">Integer</label>
            <input value="{{data.Integer}}" type="number" class="form-control" id="Integer" placeholder="Enter your integer " name="Integer">
        </div>
        <div class="form-group">
            <label >Text</label>
            <textarea   class="form-control" name="Text" placeholder="Enter text here" >
                {{data.Text}}
            </textarea>
        </div>
        <div class="form-group">
            <label for="email">Character</label>
            <input value="{{data.Character}}" type="text" class="form-control" id="email" placeholder="Enter your character " name="Character">
        </div>

    {% endfor %}

    <button type="submit" class="btn btn-primary btn-lg">Update It</button>
  </form>
</div>

{% endblock %}