{% extends "todo/base.html" %}

{% block title %} todo list  {% endblock %}

{% block custom_css %}  <link rel="stylesheet" href="/static/css/todo_style.css">    {% endblock %}

{% block container %}
<script src="https://cdn.jsdelivr.net/gh/mathusummut/confetti.js/confetti.min.js"></script>

<div class="container">
    {% if success %}
         <div class="alert alert-success" role="alert">
            Successfully logged in
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <h1 style="color: rgb(0, 0, 0);">To Do list</h1>
    <h5>Working hard or hardly working?</h5>
    <hr>
    <br>
    <br>
    <div id ="our_data"></div>

    <br>
    
    <form action="" id="task_form">
        <div class="form-group">
            <label>Add a task</label>
            <input type="text" id="form_task" class="form-control" placeholder="Type task here" >
        </div>

        <button type="submit" id="" class="btn btn-primary btn-lg">Submit</button>
    </form>
    
    <!--Procrastinate Page-->
    <div style="margin: 50rem;"></div>
    <h1 style="color:rgb(255, 0, 170)">Edlyn's Procrastinate Page!!!🥳🥳🥳🤩</h1>
    <br>
    <button id="Party" class="btn btn-info">🎉LETS PARTY!!!🎉</button>
    <br>
    <br>
    <br>
    <h5>Why don't Dalmatians like hide-and-seek?</h5>
    <button id="Joke1" class="btn btn-outline-success">Answer</button>
    <p id="Ans1"></p>
    <br>
    <h5>What did the baker say to the bread?</h5>
    <button id="Joke2" class="btn btn-outline-danger">Answer</button>
    <p id="Ans2"></p>
    <br>
    <h5>Why did the baseball coach go to the bakery?</h5>
    <button id="Joke3" class="btn btn-outline-primary">Answer</button>
    <p id="Ans3"></p>
    <br>
    <br>
    <img src="/static/image/jack.png" alt="" class="jack">
    <img src="/static/image/box.png" alt="" class="box">
    <img src="/static/image/ball.png" alt="" class="ball">

    <div style="margin-bottom: 4rem;"></div>
</div>

<script>
$(document).ready(function(){
    $("#Party").click(function(){
        confetti.start(2000);
    })

    $("#Joke1").click(function(){
        $("#Ans1").html("They're always spotted!😆");
    })

    $("#Joke2").click(function(){
        $("#Ans2").html("I knead you!😂");
    })

    $("#Joke3").click(function(){
        $("#Ans3").html("Because he needed a batter!🤣");
    })

    $(".box").click(function(){
        $(".jack").animate({height:'0', width:'490px', opacity:'100'}, "slow");
        $(".jack").animate({height:'490px', width:'490px', opacity:'100'}, "slow");
        $(".jack").delay(1000);
        $(".jack").animate({height:'0', width:'490px', opacity:'100'}, "slow");
    })

    $(".ball").click(function(){
        $(".ball").animate({top:'5rem'}, "slow");
    })
})  

</script>



<script>
    $(document).ready(function(){
        $("#task_form").submit(function(e){
            e.preventDefault();
            var task = $("#form_task").val()
            data_json = {
                    "task": task,
            }

            $.ajax({
                type: "POST",
                url: "/todo/",
                data: data_json,
                dataType:"json",

                success: function(data){
                    if(data.success)
                    {
                    clear_it()
                    }
                }

            });

        });

    });


    function clear_it()
    {
        $("#form_task").val("")
    }

    function auto_call()
    {
        $.ajax({
            type: "GET",
            url: "/todo/get/",
            success: function(data){
                document.getElementById("our_data").innerHTML=data
                console.log(data);

            }



        })
    }

    setInterval(auto_call, 500);

</script>

{% endblock %}
